.main_cookierobot_cotainer {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.robotbox{
  position: absolute;
  top: 10%;
  transition: 1s all;
  display: flex;
  justify-content: center;
}
.robotbox img{
  width: 70%;
}

/* textbox */
.textbox,
.charname {
  position: absolute;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  width: 60%;
  border: 2px solid green;
  border-radius: 0.5rem;
  background-color: rgb(0, 0, 0, 0.7);
  box-shadow: 0px 3px 15px -5px #000000;
  z-index: 1;
}
.charname {
  left: 0;
  top: -70px;
  width: 30%;
  min-height: 60px;
}
.textbox button {
  position: absolute;
  border: 2px solid green;
  color: green;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 2rem;
  outline: none;
  background-color: transparent;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}
.typewriter,
#charnameplace,
.charname {
  display: flex;
  font-family: 'Consolas';
  font-weight: 700;
  font-size: 20px;
  color: green;
}
.charname {
  justify-content: center;
}
.textbox input {
  width: 40%;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  color: greenyellow;
  border-bottom: 2px solid green;
}
.textbox input::placeholder {
  color: green;
}

.animalbutton {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 40%;
}
.animalbutton button {
  display: flex;
  position: relative !important;
  width: 30%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}
.animalbutton button:focus {
  background-color: rgba(172, 255, 47, 0.219);
}

.videobox{
  aspect-ratio: 2/1;
  width: 100%;
  height: auto;
}
.videoframe{
  display: block;
  width: 100%;
  height: 100%;
}
.minimize{
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.minimize img{
  width: 250px;

}
@keyframes back {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 200% 200%;
  }
}

@media only screen and (max-width: 740px) {
  .textbox {
    width: 90%;
  }
  .charname {
    width: 50%;
  }
  .animalbutton {
    width: 70%;
    height: 30%;
  }
  .animalbutton button {
    font-size: 12px;
  }
  .typewriter,
  .charname {
    font-size: 15px;
  }
  .glitch {
    font-size: 60px;
  }
  .minimize{
    position: relative;
    left: initial;
    bottom: 50%;
  }
}
