.futparent {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.searchsection {
  margin-top: 10px;
  display: flex;
  position: relative;
  width: 100%;
  height: 7%;
  align-items: center;
  justify-content: center;
}
.searchsection input {
  background-color: transparent;
  border: 2px solid var(--txtcolor);
  border-radius: 0.2rem;
  color: var(--txtcolor);
  height: 90%;
  width: 30%;
}
.searchsection button {
  margin-left: 10px;
  height: 90%;
  aspect-ratio: 1/1;
  background-color: transparent;
  border-radius: 0.2rem;
  border: 2px solid var(--txtcolor);
  font-size: 25px;
  color: var(--txtcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.futcontainer{
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.futleft_content{
  width: 33%;
  aspect-ratio: 1/1;
  box-shadow: 1px 1px 10px -2px var(--txtcolor);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 20px;
  font-size: 25px;
}
.futleft_content img{
  height: 90%;
}
.futleft_content h1{
  color: var(--txtcolor);
  display: flex;
  align-items: center;
  height: 5%;
  margin: 5px 0 ;
  width: 100%;
  justify-content: center;
}

.futright_content{
  width: 55%;
  box-shadow: 1px 1px 10px -2px var(--txtcolor);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.staticstable table {
  border-collapse: separate;
  border-spacing: 20px 5px;
}
.staticstable table td {
  color: var(--txtcolor);
  text-align: center;
  border: 3px solid var(--txtcolor);
  border-radius: 0.4rem;
  padding: 15px 10px;
}
.lastgames {
  margin-top: 20px;
  text-align: center;
  width: 85%;
  height: 25%;
  border: 2px solid var(--txtcolor);
  border-radius: 0.5rem;
}
#lastgamestitle {
  color: var(--txtcolor);
}
.lastgames ul {
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.lastgames li {
  color: var(--txtcolor);
  font-size: 28px;
  margin: 0;
  width: 30px;
  text-align: center;
  text-transform: uppercase;
}

/*loader*/
.loader {
  width: 100%;
  min-width: 50px;
  height: 100%;
  min-height: 10px;
  background: linear-gradient(270deg, #4d4d4d, #d2d2d2);
  background-size: 400% 400%;
  animation: load 1s ease infinite;
}
@keyframes load {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@media only screen and (max-width: 740px) {
  .futcontainer {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .searchsection input {
    width: 50%;
  }
  .futleft_content {
    width: 90%;
    height: 300px;
  }
  .futleft_content h1{
    font-size: 20px;
  }
  .futright_content {
    width: 90%;
  }
  .staticstable table {
    border-spacing: 3px;
    font-size: 8px;
  }
  .staticstable table td {
    padding: 5px;
  }
  .lastgames {
    width: 100%;
    height: fit-content;
    font-size: 10px;
  }
  .lastgames li {
    font-size: 10px;
  }

}