
.guessgame_container{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
}
.guessgame_image_section{

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.guessgame_image_container {
    aspect-ratio: 3/2;
    margin: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px solid var(--txtcolor);
    border-radius: 1.2rem;
    
}
.guessgame_block_line{
    width: 100%;
    height: 16.6%;
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
}

.guessgame_block_line:nth-child(2){
    top: 16.6%;
}
.guessgame_block_line:nth-child(3){
    top: 33.2%;
}
.guessgame_block_line:nth-child(4){
    top: 49.9%;
}
.guessgame_block_line:nth-child(5){
    top: 66.6%;
}
.guessgame_block_line:nth-child(6){
    top: 83.3%;
}
#guessgame_block_1{
    background-color: transparent;
}

.guessgame_block{
    width: 14%;
    height: 101%;
    background-color: rgb(82, 77, 77);
}
#middle_block{
    background-color: transparent;
}
.guessgame_image_container{
    width: 100%;
    height: 100%;
}
.guessgame_image_container img{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.guessgame_responses{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
    padding-top: 50px;
    position: relative;
}
.guessgame_responses h1{
    margin-bottom: 20px;
    color: var(--txtcolor);
    font-size: 32px;

}
.guessgame_form{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 90%;
}

.guessgame_form input{
    background-color: transparent;
    border: 2px solid var(--txtcolor);
    border-radius: 0.4rem;
    color: var(--txtcolor);
    height: 40px;
    width: 70%;
    font-size: 18px;
    padding-left: 3px;
}
.guessgame_butto_counts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
.guessgame_butto_counts h2{
    margin: 0;
    color: var(--txtcolor);
    font-size: 32px;

}
.guessgame_form button{
    color: var(--bgcolor);
  width: 100px;
  height: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
  border: none;
  padding: 20px;
  border-radius: 2rem;
  background-color: var(--txtcolor);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.history_list{
    min-height: 100px;
    width: 100%;

}
.history_list li{
    color: var(--txtcolor);
    font-size: 22px;
    width: fit-content;
    list-style: none;
    border: 1.5px solid var(--txtcolor);
    border-radius: 1.5rem;
    padding: 6px;
    margin-bottom: 5px;
    background-color: rgba(255, 79, 79, 0.363);
    left: 60px;

}

@media only screen and (max-width: 700px) {
    .guessgame_container{
        flex-direction: column;
        align-items: center;
    }
    .guessgame_form{
        width: 100%;
    }
    .guessgame_responses h1{
        font-size: 26px;
    }
}