header {
  height: 100vh;
  width: 80px;
  padding: 10px;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(37, 37, 37) 0%, rgba(0, 0, 0, 0) 100%);
  position: fixed;
  transition: 0.5s all;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 60px;
  transform: translate(-20%) scale(80%);
  transition: 0.5s all;
}
header:hover{
  width: 100px;
}
header:hover > ul{
  transform: translate(0%) scale(100%);
}
header ul li {
  color: white;
  font-size: 40px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s all;
}

header ul li:hover {
  text-shadow: 0px 0px 20px white;
}

main {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 700px) {
  header{
      bottom: 0;
      height: 80px;
      width: 100vw;
      background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  }
  header:hover{
      width: 100vw;
  }
  header ul{
      transform: translate(0%) scale(100%);
      flex-direction: row;
      gap: 70px;
      align-items: flex-end;
  }
  header ul li{
      font-size: 25px;
  }
}