.main_profile_container {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100%;
  flex: 1 1 auto;
}
.profile_left_content {
  margin-top: 10px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.profile_infos {
  color: var(--txtcolor);
  border: 2px solid var(--txtcolor);
  border-radius: 0.5rem;
  width: 95%;
  height: 50%;
  display: flex;
}
.profile_infos p {
  font-size: 16px;
}
.formacao {
  padding: 5px;
  width: 50%;
  height: 100%;
  border-right: 3px solid var(--txtcolor);
}
.formacao h1,
.dados h1 {
  text-align: center;
  margin: 0;
}
.dados {
  padding: 5px;
  width: 50%;
  height: 100%;
}
.profile_conhecimentos {
  width: 95%;
  height: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.conhecimentos_icons {
  width: 45%;
  height: 90%;
  border: 2px solid var(--txtcolor);
  border-radius: 0.5rem;
  color: var(--txtcolor);
}
.conhecimentos_icons table {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 60px;
  cursor: pointer;
}
.conhecimentos_description {
  width: 45%;
  height: 90%;
  color: var(--txtcolor);
  border: 2px solid var(--txtcolor);
  border-radius: 0.5rem;
  padding: 10px;
  text-align: center;
}
.conhecimentos_description h1 {
  margin: 0;
}
.profile_right_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  color: var(--txtcolor);
}
.profilepic {
  margin-top: 20px;
  max-width: 250px;
  aspect-ratio: 1 / 1;
  border: 3px solid var(--txtcolor);
  border-radius: 50%;
  overflow: hidden;
}
.profilepic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.profile_links {
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 2rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--txtcolor);
}
.profile_links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--txtcolor);
}
.profile_links a:nth-child(3) {
  animation: flip 1s forwards;
}

@media only screen and (max-width: 740px) {
  .main_profile_container {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
  }
  .profile_right_content,
  .profile_left_content {
    width: 100%;
  }
  .conhecimentos_icons,
  .conhecimentos_description {
    width: 48%;
  }
  .conhecimentos_icons table {
    font-size: 40px;
  }
  .conhecimentos_description h1 {
    font-size: 18px;
  }
  .conhecimentos_description p {
    font-size: 11px;
  }
  .profile_infos {
    height: 100%;
    margin: 10px;
  }
  .profile_infos p {
    font-size: 10px;
  }
  .profile_links {
    width: 80%;
  }
}

@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(15deg) scale(200%);
  }
  40% {
    transform: rotate(-15deg) scale(200%);
  }
  60% {
    transform: rotate(15deg) scale(200%);
  }
  80% {
    transform: rotate(-15deg) scale(200%);
  }
  100% {
    transform: rotate(0deg);
  }
}
