.main_profile_container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  min-height: 100%;
  flex: 1 1 auto;
}

.profile_row1 {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: space-around;
}

.profile_left_content,
.profile_right_content {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 6px var(--txtcolor);
  border-radius: 0.4rem;
  padding: 10px;
  color: var(--txtcolor);
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
}

.profile_left_content {
  flex-direction: row;
  color: var(--bgcolor);
  justify-content: space-between;

}

.curve {
  background-color: var(--txtcolor);
  height: 100%;
  width: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  transition: 0.4s all;
  z-index: -1;
}

.curve:after {
  content: "";
  height: 150%;
  width: 132%;
  transform: translate(-50%, -50%);
  background-color: var(--txtcolor);
  border-radius: 50%;
  left: 50%;
  top: 0;
  position: absolute;
  transition: 0.4s all;
}

.curve::before {
  content: "";
  height: 150%;
  width: 132.5%;
  transform: translate(-50%, -50%);
  background-color: var(--bgcolor);
  border-radius: 50%;
  left: 150%;
  top: 98%;
  position: absolute;
  transition: 0.4s all;
}
.profile_left_content_block1,
.profile_left_content_block4,
.profile_left_content_block2,
.profile_left_content_block3 {
  height: 50%;
  width: 58%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--txtcolor);
}

.profile_left_content_block2,
.profile_left_content_block3 {
  height: 50%;
  width: 42%;
}

.profile_left_content_block2 h1{
  margin-bottom: 40px;
}
.profile_left_content_block2 h2{
  padding: 3px;
  border-bottom: 5px solid var(--txtcolor);
}
.profile_left_content_block4{
  padding: 40px;
  align-items: flex-start;
  gap: 20px;
}

.profile_left_content_block1, .profile_left_content_block3{
  align-items: flex-start;
}
.formacao {
  padding: 5px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: auto;
}
.formacao p {
  padding: 10px;
  border: 2px solid var(--bgcolor);
  width: 95%;
  border-radius: 10px;
  cursor: pointer;
}
.formacao p:hover {
  border: 2px solid var(--txtcolor);
  color: var(--txtcolor);
  background-color: var(--bgcolor);
}
.formacao::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgb(138, 138, 138);
}

.formacao::-webkit-scrollbar
{
	width: 6px;
	background-color: var(--txtcolor);
}

.formacao::-webkit-scrollbar-thumb
{
	background-color: var(--bgcolor);
}

.profile_left_content_block3{
  font-size: 16px;
  gap: 15px;
  padding: 10px;
}

.selector{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 80px;
  overflow: hidden;
}
.selector i{
  opacity: 1;
  transform: translate(0,10%);
}
@keyframes rightfade{
  20%{transform: translate(-50px, 10%); opacity: 0;}
  40%{transform: translate(50px, 10%); opacity: 0;}
  100%{   transform: translate(0px, 10%); opacity: 1;}
}
@keyframes leftfade{
  20%{transform: translate(50px, 10%); opacity: 0;}
  40%{transform: translate(-50px, 10%); opacity: 0;}
  100%{   transform: translate(0px, 10%); opacity: 1;}
}
.selector button{
  background-color: var(--txtcolor);
  color: var(--bgcolor);
  height: 80%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  cursor: pointer;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selector button:nth-child(3){
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.profile_left_content_block1 ,.profile_left_content_block3{
  color: var(--bgcolor);
 }



.profile_right_content {
  position: relative;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  gap: 25px;
}

.profilepic {
  max-width: 200px;
  aspect-ratio: 1 / 1;
  border: 3px solid var(--txtcolor);
  border-radius: 50%;
  overflow: hidden;
}


.profilepic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile_links {
  padding: 10px 20px;
  font-size: 30px;
  width: 90%;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--txtcolor);
}

.profile_links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--txtcolor);
  transition: 0.4s all;
}

.profile_links a:hover {
  transform: scale(170%) !important;
}


.profile_right_content .contact_button {
  text-decoration: none;
  background-color: var(--txtcolor);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  letter-spacing: 2px;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_right_content .contact_button button {
  color: var(--bgcolor);
  font-size: 25px;
  border: none;
  background-color: transparent;
}

.download_icon {
  position: absolute;
  right: 10px;
  font-size: 35px;
}

.comments_container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.comments_container * {
  color: var(--txtcolor);
}

.comments_container h1 {
  width: fit-content;
  color: var(--txtcolor);
  font-size: 30px;
  border-bottom: 4px solid var(--txtcolor);
}

.comments_section {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 10px 20px;
}

.comments_section input[type="text"] {
  margin-left: 5px;
  width: 100%;
  height: 25px;
  background-color: transparent;
  border: 2px solid var(--txtcolor);
  border-radius: 0.2rem;
  color: var(--txtcolor);
  padding: 3px;
}

.comments_section .first_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.first_row div {
  display: flex;
  align-items: center;
}

.comment_star {
  gap: 3px;
}

.star_icon {
  justify-content: center;
  font-size: 30px;
  height: 30px;
  width: 30px;
  cursor: pointer;

}

.comments_section textarea {
  background-color: transparent;
  border: 2px solid var(--txtcolor);
  border-radius: 0.2rem;
  color: var(--txtcolor);
  resize: none;
  margin-bottom: 10px;
  padding: 5px;
}

.comments_section button {
  color: var(--txtcolor);
  width: 200px;
  height: 15px;
  font-size: 17px;
  outline: none;
  border: none;
  padding: 20px;
  margin: 5px;
  border-radius: 2rem;
  background-color: var(--bgcolor);
  border: 2px solid var(--txtcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.show_comments {
  width: 100%;
  padding: 20px;
}

.show_comments h1 {
  width: fit-content;
  color: var(--txtcolor);
  font-size: 30px;
  border-bottom: 4px solid var(--txtcolor);
}

.show_comments * {
  color: var(--txtcolor);
  margin: 0;
}

.comment_box {
  margin: 30px 0;
  padding: 5px;
  width: 50%;
  box-shadow: 3px 3px 5px -2px var(--txtcolor);
}

.comments_name {
  font-size: 16px;
  margin-right: 10px;
  border-bottom: 1px solid var(--txtcolor);
  width: fit-content;
}

.name_starlist {
  display: flex;
  margin-bottom: 5px;
  font-size: 18px;
}

.comment_text {
  font-size: 25px;
}
