.Mobile_main_robot_container {
  position: relative;
  flex: 1 1 auto;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background-color: red;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#Mobile_charimg {
  object-fit: scale-down;
  position: static;
  width: 100%;
  height: 100%;
}
.Mobile_name_text_container {
  position: absolute;
  background-color: black;
}
