.mobilenavcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #f44926;
  box-shadow: 0px 3px 15px -6px #000000;
  width: 100%;
  position: fixed;
}
.mobilenavmenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 50%;
  background-color: #762fcf;
  box-shadow: 0px 3px 15px -6px #000000;
}
.sidelinks {
  display: flex;
  opacity: 0%;
  right: 0;
  top: 0;
  position: fixed;
  width: 150px;
  height: 100vh;
  background-color: #4b4453;
  box-shadow: 0px 3px 15px -6px #000000;
  border-left: 5px solid #762fcf;
  flex-direction: column;
}
.sidelinks a {
  padding: 5px 10px;
  margin: 5px 15px 0px 0px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.sidelinks a:first-child {
  margin-top: 10px;
}
.selected {
  background-color: #762fcf;
}
.visible {
  display: flex !important;
}

@keyframes hello {
  0% {
    right: -155px;
    opacity: 100%;
  }
  100% {
    right: 0;
    opacity: 100%;
  }
}
@keyframes goodbye {
  0% {
    right: 0px;
    opacity: 100%;
  }
  100% {
    right: -155px;
    display: none;
    opacity: 100%;
  }
}
