.App * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #f0fff0;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #762fcf;
}

.nextbutton {
  font-size: 23px;
  max-width: 150px;
  width: 100%;
  padding: 20px;
  border-radius: 2rem;
  background-color: #e000a7;
  border: none;
  box-shadow: 0px 3px 15px -6px #000000;
  cursor: pointer;
}

.help {
  display: none;
}
.helptext {
  display: none;
}
.aqua {
  position: absolute;
  right: 0;
  bottom: 0;
}
