.ppmcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 30px;
}
.ppmcontainer .questionask {
  height: 200px;
}
.ppmcontainer * {
  font-family: 'Montserrat', sans-serif;
}
#clock {
  font-size: 30px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}
.bottom {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputbuttom {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 49%;
  height: 100%;
}
.inputbuttom textarea {
  overflow: hidden;
  resize: none;
  font-size: 20px;
  margin-bottom: 20px;
  word-wrap: wrap;
  height: 12%;
  max-height: 40%;
  outline: none;
  border: none;
  border-bottom: 4px solid #bfebf8;
  color: white;
  background-color: transparent;
}
.inputbuttom textarea::placeholder {
  color: rgb(202, 202, 202);
}
.nextbutton {
  cursor: pointer;
  font-size: 20px;
  width: 30%;
  background-color: transparent;
  outline: none;
  border-radius: 3rem;
  padding: 15px;
  color: #84e4b6;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
  border: 2px solid #84e4b6;
  box-shadow: 0 0 10px rgba(10, 175, 230, 1), 0 0 10px rgba(10, 175, 230, 0);
}

#checkbutton {
  display: none;
}

#result {
  position: relative;
  width: 35%;
  padding: 10px;
  height: 100%;
  text-align: center;
}
#result h1 {
  margin-bottom: 70px;
}
#resulttext {
  font-size: 20px;
}
@keyframes benga {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(100%);
  }
}

.tremer {
  animation: tremer 0.8s forwards !important;
}

@keyframes tremer {
  0% {
    transform: translateX(+1%);
    border-bottom: 4px solid #b80101;
  }
  10% {
    transform: translateX(-1%);
    border-bottom: 4px solid #b80101;
  }
  20% {
    transform: translateX(+1%);
    border-bottom: 4px solid #b80101;
  }
  30% {
    transform: translateX(-1%);
    border-bottom: 4px solid #b80101;
  }
  40% {
    transform: translateX(+1%);
    border-bottom: 4px solid #b80101;
  }
  50% {
    transform: translateX(-1%);
    border-bottom: 4px solid #b80101;
  }
  60% {
    transform: translateX(+1%);
    border-bottom: 4px solid #b80101;
  }
  70% {
    transform: translateX(-1%);
    border-bottom: 4px solid #b80101;
  }
  80% {
    transform: translateX(+1%);
    border-bottom: 4px solid #b80101;
  }
  100% {
    border-bottom: 4px solid #bff8c9;
  }
}
