.mainsection {
  position: absolute;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 100%;
  max-height: 510px;
  height: 100%;
}

.infos,
.conhecimentos_icons,
.conhecimentos_description {
  background-color: #2c73d2;
  box-shadow: 0px 3px 15px -6px #000000;
  border-radius: 1.2rem;
  padding: 20px;
}
.infos h1 {
  font-size: 25px;
}
.infos h1:nth-child(3) {
  margin-top: 10px;
}
.infos ul {
  list-style: none;
}
.left_division {
  max-height: 400px;
  height: 100%;
  width: 65%;
}
.conhecimentos {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  max-height: 230px;
  height: 100%;
}

.conhecimentos_icons,
.conhecimentos_description {
  max-height: 200px;
  max-width: 400px;
  height: 100%;
  width: 100%;
}
.conhecimentos_icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conhecimentos h1 {
  margin-bottom: 10px;
}
.conhecimentos_icons table {
  font-size: 60px;
  border-collapse: separate;
  border-spacing: 40px 0px;
  cursor: pointer;
}

.right_division {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right_division img {
  width: 200px;
  height: 200px;
  border: 3px solid white;
  border-radius: 50%;
  object-fit: cover;
}
.right_division h1 {
  margin-top: 10px;
}
.links {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: #2c73d2;
  box-shadow: 0px 3px 15px -6px #000000;
  border-radius: 1.2rem;
  padding: 10px;
}
.links * {
  font-size: 35px;
  margin: 0px 8px;
  line-height: 10px;
}
.links a:nth-child(4) {
  animation: 1s flip forwards;
}
#css_description,
#javascript_description,
#html_description,
#cplusplus_description,
#react_description,
#next_description {
  display: none;
}

.conhecimentos_description {
  text-align: center;
}
.conhecimentos_description h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
.conhecimentos_description p {
  font-size: 18px;
}

@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(15deg) scale(200%);
  }
  40% {
    transform: rotate(-15deg) scale(200%);
  }
  60% {
    transform: rotate(15deg) scale(200%);
  }
  80% {
    transform: rotate(-15deg) scale(200%);
  }
  100% {
    transform: rotate(0deg);
  }
}
